<div class="container mb-3 bg-light" >
          


<div class="nav flex-column nav-pills">
    <a class="nav-link " href="{{ path('app_account') }}">
        <i data-feather="user"></i>
        Mon compte
    </a>
     <a class="nav-link " href="{{ path('app_command') }}">
        <i data-feather="user"></i>
        Mes dernières commandes
    </a>
    <a class="nav-link" href="{{ path('app_account_edit') }}">
        <i data-feather="key"></i>
        Modifier le mot de passe
    </a>
    <a class="nav-link" href="{{ path('app_logout') }}">
        <i data-feather="log-out"></i>
        Se déconnecter
    </a>

</div>